@import url(https://fonts.googleapis.com/css?family=Roboto);.view-title-container {
  display: flex;
  margin-left: 20px;
  align-items: center; }

.view-title-divider {
  width: 1px;
  height: 34px;
  background-color: whitesmoke; }

.modal {
  display: flex;
  width: 320px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center; }

.phone {
  margin: 0 0 5vh;
  background-color: black;
  padding: 3px 10px 10px;
  border-radius: 11%;
  border: 4px solid silver;
  transform: perspective(400px) rotateX(0deg);
  position: relative; }
  .phone-notch {
    background-color: black;
    width: 150px;
    height: 40px;
    position: absolute;
    left: 95px;
    z-index: 99;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px; }

.dock-container {
  height: 80px;
  border-radius: 30px;
  margin: 0 10px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center; }
  .dock-container-inner {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }

.app-container {
  margin: 40px 30px 0;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 440px; }
  .app-container .titled-app {
    margin-right: 20px; }
    .app-container .titled-app:nth-child(4n) {
      margin-right: 0px; }
    .app-container .titled-app:nth-child(n+5) {
      margin-top: 25px; }

.screen {
  width: 320px;
  height: 600px;
  border-radius: 8%;
  background-size: cover;
  position: relative; }
  .screen-home {
    background-image: url("/src/page/image/wallpaper.jpg"); }
  .screen-sms {
    background-color: whitesmoke; }
    .screen-sms .screen-header {
      color: black; }
  .screen-traderev {
    background-color: #9acd32; }
    .screen-traderev .screen-header {
      color: white; }
  .screen-trifacta {
    background-color: white; }
  .screen-header {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 10px 35px 0;
    color: white; }
    .screen-header .time {
      font-weight: 300;
      margin: 12px 0 0;
      user-select: none; }
    .screen-header .status {
      margin: 12px 0 0;
      transform: translateX(15px); }
      .screen-header .status i {
        font-size: 16px;
        margin-right: 5px; }
  .screen-app {
    color: black; }

.app {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: whitesmoke;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat; }
  .app-title {
    color: whitesmoke;
    font-size: 10px;
    font-weight: 100;
    width: 50px;
    text-align: center;
    margin-top: 2px;
    user-select: none; }

.sms {
  background-image: url("/src/page/image/sms.png");
  background-size: 100%; }

.trifacta {
  background-image: url("/src/page/image/trifacta.png"); }

.traderev {
  background-image: url("/src/page/image/traderev.png"); }

.github {
  background-image: url("/src/page/image/github.png"); }

.instagram {
  background-image: url("/src/page/image/instagram.png");
  background-size: 110%; }

.view-title-container {
  display: flex;
  margin-left: 20px;
  align-items: center; }

.view-title-divider {
  width: 1px;
  height: 34px;
  background-color: whitesmoke; }

.view-traderev {
  font-family: 'Roboto'; }
  .view-traderev-header {
    align-items: center;
    display: flex;
    position: relative;
    margin: 10px 15px;
    color: whitesmoke; }
  .view-traderev-details {
    margin: 10px; }
    .view-traderev-details .bold {
      font-weight: 800; }
    .view-traderev-details .detail-row {
      margin: 10px 10px;
      display: flex; }
      .view-traderev-details .detail-row span {
        font-weight: 800;
        font-size: 13px;
        color: black; }
      .view-traderev-details .detail-row span:first-child {
        color: gray;
        font-size: 13px;
        font-weight: 400;
        width: 80px; }
  .view-traderev i {
    position: absolute;
    left: 0;
    font-weight: 100;
    cursor: pointer;
    font-size: 40px;
    color: whitesmoke;
    font-size: 24px; }
  .view-traderev-body {
    display: flex;
    flex-direction: column;
    height: 507px;
    border-bottom-left-radius: 32px 40px;
    border-bottom-right-radius: 32px 40px;
    display: flex;
    flex-direction: column;
    height: 517px;
    margin: 0;
    background-color: #f0f0f0; }
  .view-traderev-title {
    font-size: 20px;
    font-weight: 400;
    user-select: none;
    margin-left: 10px; }
  .view-traderev-photo, .view-traderev-photo-first, .view-traderev-photo-second, .view-traderev-photo-third, .view-traderev-photo-fourth {
    background-size: 100% 100%;
    cursor: pointer;
    height: 50px;
    width: 80px; }
    .view-traderev-photo-first {
      background-image: url("/src/page/image/traderev_1.png");
      height: 150px;
      width: 240px; }
    .view-traderev-photo-second {
      background-image: url("/src/page/image/traderev_2.png"); }
    .view-traderev-photo-third {
      background-image: url("/src/page/image/traderev_3.png"); }
    .view-traderev-photo-fourth {
      background-image: url("/src/page/image/traderev_4.gif"); }
    .view-traderev-photo-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 150px;
      background-color: blue; }
  .view-traderev hr {
    margin: 0; }

.view-title-container {
  display: flex;
  margin-left: 20px;
  align-items: center; }

.view-title-divider {
  width: 1px;
  height: 34px;
  background-color: whitesmoke; }

.view-sms-header {
  align-items: center;
  display: flex;
  position: relative;
  margin: 10px 15px;
  justify-content: center;
  border-bottom: lightgray; }
  .view-sms-header i {
    position: absolute;
    left: 0;
    font-weight: 100;
    cursor: pointer;
    font-size: 40px;
    transform: translateY(-10px);
    color: #0084ff;
    font-size: 34px; }

.view-sms-contact {
  display: flex;
  flex-direction: column; }
  .view-sms-contact-logo {
    user-select: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; }
  .view-sms-contact-name {
    user-select: none;
    margin-top: 3px;
    text-align: center;
    font-size: 12px; }

.view-sms-body {
  display: flex;
  flex-direction: column;
  height: 507px;
  border-bottom-left-radius: 32px 40px;
  border-bottom-right-radius: 32px 40px;
  border-radius: 0;
  height: 430px;
  background-color: white;
  overflow: auto; }

.view-sms-input {
  padding-top: 15px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom-left-radius: 32px 48px;
  border-bottom-right-radius: 32px 48px; }
  .view-sms-input-submit {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #0084ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .view-sms-input-submit i {
      color: white;
      font-size: 20px; }
  .view-sms-input-container {
    width: 90%;
    position: relative; }
  .view-sms-input input {
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    border-radius: 20px;
    box-shadow: none;
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 24px; }
    .view-sms-input input:focus {
      outline: none; }

.view-sms .message, .view-sms .message-dylan, .view-sms .message-user, .view-sms .message-loading {
  display: flex;
  font-size: 14px;
  word-break: normal;
  flex-shrink: 0;
  border-radius: 12px;
  width: max-content;
  max-width: 250px;
  padding: 10px;
  margin: 5px 15px; }
  .view-sms .message-dylan {
    background-color: lightgray; }
  .view-sms .message-user {
    color: white;
    background-color: #0084ff;
    align-self: flex-end; }
  .view-sms .message-loading {
    background-color: lightgray;
    background-image: url("/src/page/image/loading.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    width: 20px;
    height: 16px; }

html {
  min-height: 100vh; }

body {
  font-family: 'Helvetica', 'Arial';
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  background-color: aliceblue;
  align-items: center;
  overflow: hidden; }

.flex {
  display: flex; }

.flex-stack {
  display: flex;
  flex-direction: column; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjc3Mvc3R5bGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/