$imagePath: '/src/page/image/wallpaper.jpg';
$colorGreen: #8bc33c;

.screen {
  width: 320px;
  height: 600px;
  border-radius: 8%;
  background-size: cover; 
  position: absolute;
  top: 0;
  left: 0;

  &-home {
    background-image: url($imagePath);
    width: 320px;
    height: 600px;
    border-radius: 8%;
    background-size: cover; 
    position: relative;
  }

  &-sms {
    background-color: whitesmoke;

    .screen-header {
      color: black;
    }
  }

  &-traderev {
    background-color: $colorGreen;

    .screen-header {
      color: white;
    }
  }

  &-trifacta {
    background-color: white;
    .screen-header {
      color: black;
    }
  }

  &-header {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 0px 35px;
    color: white;

    &-home {
      margin: 10px 35px 0; 
    }

    .time {
      font-weight: 300;
      margin: 12px 0 0;
    }

    .status {
      margin: 12px 0 0;
      transform: translateX(15px);

      i {
        font-size: 16px;
        margin-right: 5px;
      }

    }
  }

  &-app {
    color: black;
  }
}
  
