$imagePath: '/src/page/image/wallpaper.jpg';
$colorGreen: #9acd32;

.screen {
  width: 320px;
  height: 600px;
  border-radius: 8%;
  background-size: cover; 

  &-home {
    background-image: url($imagePath);
  }

  &-sms {
    background-color: whitesmoke;

    .screen-header {
      color: black;
    }
  }

  &-traderev {
    background-color: $colorGreen;

    .screen-header {
      color: white;
    }
  }

  &-trifacta {
    background-color: white;
  }

  &-header {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 10px 35px 0;
    color: white;

    .time {
      font-weight: 300;
      margin: 12px 0 0;
      user-select: none;
    }

    .status {
      margin: 12px 0 0;
      transform: translateX(15px);

      i {
        font-size: 16px;
        margin-right: 5px;
      }

    }
  }

  &-app {
    color: black;
  }
}
  
