$smsLogo: '/src/page/image/sms.png';
$traderevLogo: '/src/page/image/traderev.png';
$trifactaLogo: '/src/page/image/trifacta.png';
$githubLogo: '/src/page/image/github.png';
$instagramLogo: '/src/page/image/instagram.png';
$resistroLogo: '/src/page/image/resistro.png';

.app {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: whitesmoke;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

  &-title {
    color: whitesmoke;
    font-size: 10px;
    font-weight: 100;
    width: 50px;
    text-align: center;
    margin-top: 2px;
  }
}

.sms {
  background-image: url($smsLogo);
  background-size: 100%;
}

.trifacta {
  background-image: url($trifactaLogo);
}

.traderev {
  background-image: url($traderevLogo);
}

.github {
  background-image: url($githubLogo);
}

.instagram {
  background-image: url($instagramLogo);
  background-size: 110%;
}

.resistro {
  background-image: url($resistroLogo);
  background-size: 120%;
  background-position: 45% 45%;
}
