@import 'components/view/view.scss';

$loadingMsg: '/src/page/image/loading.gif';
$color-blue: #0084ff;
$color-gray: lightgray;

.view-sms {

  &-header {
    @include view-header;
    margin: 10px 15px;
    justify-content: center;
    border-bottom: lightgray;

    i {
      @include view-back;
      transform: translateY(-10px);
      color: $color-blue;
      font-size: 34px;
    }
  }

  &-contact {
    display: flex;
    flex-direction: column;

    &-logo {
      user-select: none;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      color: white;
      background-color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
    
    &-name {
      user-select: none;
      margin-top: 3px;
      text-align: center;
      font-size: 12px;
    }
  }
  
  &-body {
    @include view-body;
    border-radius: 0;
    height: 430px;
    background-color: white;
    overflow: auto;
  }

  &-input {
    padding-top: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 32px 48px;
    border-bottom-right-radius: 32px 48px;

    &-submit {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: $color-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      i {
        color: white;
        font-size: 20px;
      }
    }

    &-container {
      width: 90%;
      position: relative;
    }

    input {
      box-sizing: border-box;
      width: 100%;
      height: 33px;
      border-radius: 20px;
      box-shadow: none;
      border: 1px solid lightgray;
      padding-left: 10px;
      padding-right: 24px;
      &:focus {
        outline: none;
      }
    }
  }

  .message {
    display: flex;
    font-size: 14px;
    word-break: normal;
    flex-shrink: 0;
    border-radius: 12px;
    width: max-content;
    max-width: 250px;
    padding: 10px;
    margin: 5px 15px;

    &-dylan {
      @extend .message;
      background-color: $color-gray;
    }

    &-user {
      @extend .message;
      color: white;
      background-color: $color-blue;
      align-self: flex-end
    }

    &-loading {
      @extend .message;
      background-color: $color-gray;
      background-image: url($loadingMsg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      color: transparent;
      width: 20px;
      height: 16px;
    }
  }
}
