.home {
  &-swipe {
    position: absolute;
    width: 200px;
    left: 60px;
    height: 18px;
    background-color: transparent;
    bottom: -2px;
    justify-content: center;
    z-index: 1;
    cursor: pointer;

    &-bar {
      margin-top: 10px;
      width: 100px;
      height: 3px;
      background-color: gray;
      border-radius: 20%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.hidden {
  opacity: 0;
}
