@mixin view-header {
  align-items: center;
  display: flex;
  position: relative;
}

@mixin view-back {
  position: absolute;
  left: 0;
  font-weight: 100;
  cursor: pointer;
  font-size: 40px;
}

@mixin view-body {
  display: flex;
  flex-direction: column;
  height: 507px; 
  border-bottom-left-radius: 32px 40px;
  border-bottom-right-radius: 32px 40px;
}

.view {
  &-title-container {
    display: flex;
    margin-left: 20px; 
    align-items: center;
  }

  &-title-divider {
    width: 1px;
    height: 34px;
    background-color: whitesmoke;
  }
}
