.modal {
  cursor: pointer;
  display: flex;
  width: 330px;
  height: 605px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8%;
  position: absolute;
  top: -2px;
  left: -5px;
  justify-content: center;
  align-items: center;

  &-content {
    cursor: default;

    &:hover + .modal-nav-container {
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;
    }
  }
  
  &-nav {
    &-container {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
   
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    color: white;
    background-color: gray;

    &-left {
      left: 5px;
    }

    &-right {
      right: 4.5px;
    }
  }

  &-image {
    max-width: 320px;
    object-fit: cover;
  }

  &-text {
    max-width: 320px;
    width: max-content;
  }
}
